In [1]:
import pandas as pd
import numpy as np

In [8]:
ms_df = pd.read_csv('./Microsoft_Stock.csv')
ms_df

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]